<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/glob.css}">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hairdresser</title>
</head>
<body>
        <form th:action="@{cancel}">
            <input id="cancel" type="submit" value="Cancel visit"/>
        </form>
        <form th:action="@{book}">
            <input id="book" type="submit" value="Book visit"/>
        </form>
</body>
</html>